/* Fonts and colors
We start with the body since it will apply on all the website */

body {
  background: #011627;
  color: #222831;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;

}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #E71D36;
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  display: inline-block;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #B3B3B3;
}

a:hover {
  color: #DF5452;
}

/* size and positions of the divs */

.container {
  width: 600px;
  margin: 0 auto;
}

.card-white {
  /*width: 500px;*/
  margin: 10px 0 10px 0;
  background: #FDFFFC;                        /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
  position: relative;
}

table {
  width: 400px;
  margin: 0 auto;
}

.card-white ul {
  list-style: none;
  padding-left: 0px;
}

/* specific stuff */

#profile_pic {
  width: 150px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.image-circle {
  border-radius: 50%;
}

.btn-red {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #E71D36;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.btn-red:hover {
  background: #004A7C;
  color: white;
}

.text-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
}

.text-left {
  text-align: left;
}

.text-top-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0 0 15px;
  margin: 0;
  }

.image-top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px 0 0;
}

.fa {
  color: #011627;
}

.fa-plane {
  font-size: 24px;
}

#sidebar {
  position: fixed;
  width: 120px;
  left: 0;
  top: 0;
  bottom: 0;
  background: #FDFFFC;
}

#sidebar > ul {
   list-style: none;
   font-size: 2em;
}

#sidebar > ul li {
   padding-bottom: 10px;
}

#page-content {
  margin-left: 120px;
}
